<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!--默认开启mybatis日志,logback框架(可省略)-->
        <setting name="logImpl" value="slf4j"/>
        <!--默认开启全局的延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--默认开启驼峰自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>