<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="vipDaoBean" class="dao.VipDao"/>
    <bean id="userDaoBean" class="dao.UserDao"/>
    <bean id="csBean" class="service.CustomerService">
        <!--构造注入-->
        <!--
            index属性指定参数下标，第一个参数是0，第二个参数是1，第三个参数是2，以此类推。顺序无所谓
            ref属性用来指定注入的bean的id
        -->
        <!--指定构造方法的第一个参数,下表是0-->
        <constructor-arg index="0" ref="userDaoBean"/>
        <!--指定构造方法的第一个参数,下表是1-->
        <constructor-arg index="1" ref="vipDaoBean"/>
    </bean>

    <bean id="csBean2" class="service.CustomerService">
        <!--根据构造方法的参数名,注入-->
        <constructor-arg name="userDao" ref="userDaoBean"/>
        <constructor-arg name="vipDao" ref="vipDaoBean"/>
    </bean>

    <bean id="csBean3" class="service.CustomerService">
        <!--不指定下标,也不指定参数名,让sopring自己做类型匹配-->
        <!--这种方式实际上是根据类型进行注入的,spring会自动根据类型来判断把ref注入给哪个参数-->
        <constructor-arg ref="vipDaoBean"/>
        <constructor-arg ref="userDaoBean"/>
    </bean>
</beans>